.swiper {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.carrousel-image {

    &__items {

        img {
            width: 100%;
        }
    }
}

.h-md-100 {
    @include responsive($md) {
        height: 100%;
    }
}

.color-naranja {
    color: #FE6744;
}

.underline {
    text-decoration-line: underline;
}