.hero {
    width: 100%;
    height: calc(750px - 73px);
    margin-top: 73px;
    /* height: calc(770px - 73px);
    margin-top: 73px; */

    position: relative;
    background: url(/assets/home/avatar-dev.png), url(/assets/home/hero-flame.svg), linear-gradient(180deg, rgba(248, 247, 241, 1) 0%, rgba(248, 247, 241, 1) 38%, rgb(255, 255, 255) 38%, rgb(255, 255, 255) 100%);
    background-size: 330px, 370px, 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    z-index: -2;
    overflow: hidden;

    @include responsive($md) {
        width: 100%;
        height: calc(100vh - 73px);
        margin-top: 73px;
        background: url(/assets/home/avatar-dev.png), url(/assets/home/hero-flame-lg.svg), linear-gradient(180deg, rgba(248, 247, 241, 1) 0%, rgba(248, 247, 241, 1) 100%);
        background-size: 80vh, 800px, 100%;
        background-position: center bottom;
        background-repeat: no-repeat;
    }

    @include responsive($lg) {
        height: calc(1000px - 73px);
        margin-top: 73px;
        background: url(/assets/home/avatar-dev.png), url(/assets/home/hero-flame-lg.svg), linear-gradient(180deg, rgba(248, 247, 241, 1) 0%, rgba(248, 247, 241, 1) 100%);
        background-size: 80vh, 1200px, 100%;
        background-position: center bottom;
        background-repeat: no-repeat;
    }

    &__info {
        margin-top: 54px;

        @include responsive($md) {
            justify-content: space-between;
            margin: 0;
        }

        @include responsive($lg) {
            justify-content: space-evenly;
        }

        &-title {
            color: #000;
            font-size: 45px;
            font-style: normal;
            font-weight: 500;
            line-height: 50px;

            @include responsive($lg) {
                font-size: 90px;
                line-height: normal;
            }
        }

        &-email {
            color: #FF7736;
            font-size: 26px;
            font-style: normal;
            font-weight: 700;
            line-height: 38px;
            text-decoration-line: underline;
            text-transform: lowercase;
        }

        &-experiencies {
            display: flex;
            gap: 15px;
            align-items: center;
        }

        &-number {
            color: #000;
            font-size: 70px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: -9.8px;
        }

        &-years {
            color: #000;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: uppercase;
            margin: 0;
        }

        &--data {
            margin-top: 0;
        }

        &-subtitle {
            color: #25383F;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
            margin: 15px 0;

            @include responsive($md) {
                text-align: end;
            }

            @include responsive($lg) {
                color: #000;
                font-size: 24px;
                line-height: 38px;
            }
        }

        &-badge {
            display: flex;
            justify-content: flex-end;
            margin: 0;

            &-img {
                width: 90px;
                height: 90px;

                @include responsive($md) {
                    width: 100px;
                    height: 100px;
                }

                @include responsive($lg) {
                    width: 160px;
                    height: 160px;
                }
            }
        }

        &-position {
            text-align: end;
            margin: 0 12px 0 0;

            @include responsive($md) {
                color: #000;
                margin: 0;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 28px;
                text-transform: uppercase;
            }

            @include responsive($lg) {
                font-size: 26px;
                line-height: 38px;
            }
        }
    }
}